.topbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 6.5rem;
  width: 100%;
  // box-shadow: $box-shadow-1;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background-color: rgba($color-white, 0.95);
  z-index: 999;
  &__logo {
    font-family: 'Product Sans Bold';
    font-size: 3rem;
    color: $color-grey-light-3;
    @include transition03;
    cursor: pointer;
    width: max-content;
    &:hover {
      color: $color-grey-dark-2;
    }
  }
  &__left-section {
    margin-left: auto;
    display: flex;
    color: $color-grey-dark-2;
  }

  &__links {
    list-style: none;
    @include flex-center;
    font-size: 2rem;
    margin-right: 2rem;
    & > li {
      cursor: pointer;
      margin: 0 0.5rem;
    }
  }

  &__icons {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 8rem;
  }
}
