*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Product Sans Regular';
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.4;
}

ul {
  list-style: none;
}
